@model MobileStore_Project.Models.SanPham;
@{
    string tenSp = "", Nsx = "", Cauhinh = "", MoTa = "", MauSac = "", AnhSp = "",PhienBan="";
    string TitleBtn = "";
    int? soluong = 0, khuyenmai = 0;
    decimal? giaban = 0;
    string maSp = "";
    if (Model != null)
    {
        maSp = Model.MaSp.ToString();
        tenSp = Model.TenSp;
        Nsx = ViewBag.NSX;
        Cauhinh = Model.CauHinh;
        MoTa = Model.MoTa;
        MauSac = Model.MauSac;
        AnhSp = Model.AnhSp;
      soluong = Model.SoLuong;
        khuyenmai = Model.KhuyenMai;
        giaban = Model.Giaban;
        PhienBan = Model.PhienBan;
    }



    List<string> image = Model != null ? AnhSp.Split(",").ToList():new List<string>();

    TitleBtn = Model != null ?
     "Sua san pham" : "Thêm sản phẩm";
    string href = Model != null ? "EditAProduct": "AddNewProduct";
}
<head>
    <link rel="stylesheet" href="/css/admin/main.css">
    <title>@href</title>
</head>
<body>
    <div class="container-fluid ">
        <div >
            <form action="/Admin/@href" class="row" method="post" id="valueForm" enctype="multipart/form-data">
              
                <div class="col-8">
                    <div class="adm-product-info">
                        <h5 class="adm-product-title">Thông tin sản phẩm</h5>
                        <div>
                            <input type="hidden" value="@AnhSp" id="anhSpStr" asp-for="AnhSp"/>
                           <input type="hidden" value="@maSp" name="MaSp"  asp-for="MaSp"/>
                            <div class="mb-3">
                                <label for="adm-pd-name" class="form-label">Tên</label>
                                <input type="text" class="form-control" value="@tenSp" name="TenSp" id="adm-pd-name" placeholder="Nhập tên sản phẩm">
                            </div>
                            <div class="mb-3">
                                <label for="adm-pd-quantity" class="form-label">Số lượng</label>
                                <input type="text" class="form-control" id="adm-pd-quantity" value="@soluong" name="SoLuong" placeholder="Nhập số lượng">
                            </div>
                            <div class="mb-3">
                                <label for="adm-pd-description" class="form-label">Mô tả</label>
                                <div class="adm-pd-btn form-control">
                                    <span class="btn-size">
                                        Cỡ chữ
                                        <i class="fa-solid fa-caret-down"></i>
                                    </span>
                                    <span><i class="fa-solid fa-bold"></i></span>
                                    <span><i class="fa-solid fa-italic"></i></span>
                                </div>
                                <textarea class="form-control" name="MoTa" id="adm-pd-description" rows="3">@MoTa</textarea>
                            </div>

                            <div class="adm-product-info">
                                <h5 class="adm-product-title">Cấu hình</h5>
                                <div class="mb-3">
                                    <input type="text" class="col-12" value="@Cauhinh" name="CauHinh"/>
                                </div>
                            </div>

                          
                        </div>
                    </div>
                    <div class="adm-product-info">
                        <h5 class="adm-product-title">Hình ảnh</h5>
                       <div class="row">
                            <input type="file" multiple class="btn btn-secondary mx-2 col-11" id="inpImg" name="fileList" id=" = file" />
                            <button class="btn btn-success col-6 mx-auto d-block mt-2" type="button" onclick="addImage()">Add image</button>
                        </div>
                        <div class="row row-cols-5" id="imgLst">

                            @{
                                string t = "";
                                foreach (var img in image)
                                {
                                    t =  @img.Trim();
              <img class=" col border border-2 adm-product-show-img adm-product-img mx-2 cursor-pointer p-0" src="@t">
                                    t = "";
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="adm-product-info">
                        <h5 class="adm-product-title">Giá</h5>
                        <div class="mb-3">
                            <input type="text" value="@giaban" name="Giaban" class="form-control" id="adm-pd-name" placeholder="Nhập giá sản phẩm">
                        </div>
                    </div>

                    <div class="adm-product-info">
                        <h5 class="adm-product-title">Giảm giá</h5>
                        <div class="mb-3">
                            <input type="text" name="KhuyenMai" value="@khuyenmai" class="form-control" id="adm-pd-name" placeholder="Nhập giá sản phẩm">
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="adm-pd-date-start" class="form-label">Ngày bắt đầu</label>
                                <input type="date" class="form-control" placeholder="Ngày bắt đầu" aria-label="First name">
                            </div>
                            <div class="col">
                                <label for="adm-pd-date-end" class="form-label">Ngày kết thúc</label>
                                <input type="date" class="form-control" placeholder="Ngày kết thúc" aria-label="Last name">
                            </div>
                        </div>
                    </div>


                    <div class="adm-product-info">
                        <h5 class="adm-product-title">Danh mục</h5>
                        <div class="mb-3">
                            <select class="form-select" aria-label="Default select example" name="MaNsx" id="MaNsx">
                                @{
                                    if (Model == null)
                                    {
                                                                                                                    <option selected>--chọn nhà sản xuất--</option>
                                    }
                                    else
                                    {
                                                                                                                    <option>--chọn nhà sản xuất--</option>

                                    }
                                    foreach (var item in ViewBag.LstNSX)
                                    {
                                        if (Nsx.Equals(item.TenNsx))
                                        {
                                                                                                                        <option value="@item.MaNsx" selected>@item.TenNsx</option>
                                        }
                                        else
                                        {
                                                                                                                        <option value="@item.MaNsx" >@item.TenNsx</option>

                                        }
                                    }
                                }


                            </select>
                            @* <select asp-for="MaNsx" asp-items="@ViewBag.LstNSX"></select> *@
                        </div>

                    </div>
                    <div class="adm-product-info">
                        <h5 class="adm-product-title">Ảnh</h5>
                        <div class="adm-product-container-img p-0">
                            <img class="adm-product-img p-0 h-100 w-100" id="tempImg" src="/img/Admin/img-pd-empty.png">
                        </div>
                        <button class="btn btn-danger p-2 mt-2 mx-auto d-block" id="btnDelImg" type="button">Xoa anh</button>
                    </div>
                    <div class="adm-product-info">
                        <h5 class="adm-product-title">Chi tiết sản phẩm</h5>

                        <div class="mb-3">
                            <label for="adm-pd-name" class="form-label">Phiên bản</label>
                            <input type="text" class="form-control" name="PhienBan" value="@PhienBan" id="adm-pd-version" placeholder="Nhập phiên bản máy">
                        </div>

                        <div class="mb-3">
                            <label for="adm-pd-name" class="form-label">Màu sắc</label>
                            <input type="text" class="form-control" id="adm-pd-configuration" value="@MauSac" name="MauSac" placeholder="Nhập màu sắc máy">
                        </div>
                    </div>
                    <div class="adm-product-info">
                        <button class="btn btn-success" id="btnSend" type="submit">@TitleBtn</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
@section Script{
    <script>
        let f1 = async () => {
            let href = document.getElementById("tempImg").getAttribute("src");
            let lst = document.getElementsByClassName("adm-product-img");
            let d = 0;
            let container = new DataTransfer();
            if (href.trim().length != 0) {
                for (let i = 0; i < lst.length; i++) {
                    let src = $(lst[i]).attr("src")
                    if (src.includes("data:image/png")) {
                        var fileName = $(lst[i]).attr("cusname"); // your file name
                        var mimeType = 'image/png'; // your file mime type
                        await urltoFile(src, fileName, mimeType) // convert URL to file
                            .then(function (file) {
                                 container.items.add(file);//log the file object
                                d++;
                                console.log("f", d);
                                // console.log(document.getElementById("inpImg").files);
                            });
                    }

                }
                 document.getElementById("inpImg").files = container.files;
            }
            
        };
        let f = async  (e)=> {
            e.preventDefault();
            await f1();
            e.currentTarget.submit();
            return true;
        }

        $("#valueForm").submit(f);
        function urltoFile(url, filename, mimeType) {
            mimeType = mimeType || (url.match(/^data:([^;]+);/) || '')[1];
            return (fetch(url)
                .then(function (res) { return res.arrayBuffer(); })
                .then(function (buf) { return new File([buf], filename, { type: mimeType }); })
            );
        }

        const addImage = ()=>{
            let dir = $("#inpImg").val();
            if (dir.length!=0){
                const file = document.querySelector('#inpImg').files[0];
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function () {
                    localStorage.setItem("image", reader.result);
                       $("#imgLst").append(`<img class=" col border border-2 adm-product-show-img adm-product-img mx-2 cursor-pointer p-0" src = "${localStorage.getItem("image")}" cusName="${file.name}" onclick="fc(event)">`)
                };
                $("#anhSpStr").val($("#anhSpStr").val() + ($("#anhSpStr").val().length!=0?",/img/":"") + document.getElementById("inpImg").files[0].name);
                console.log($("#anhSpStr").val());
            }
        }
        const fc = function (e) {
            let href = e.srcElement.getAttribute("src"); 
            $("#tempImg").attr("src", href);
        };
        $(".adm-product-img").click(function () {
            let href = $(this).attr("src");
            $("#tempImg").attr("src", href);
        })

        $("#btnDelImg").click(function () {
            let href = document.getElementById("tempImg").getAttribute("src");
            let lst = document.getElementsByClassName("adm-product-img");
            if(href.trim().length!=0){
                for (let i = 0; i < lst.length; i++) {
                    if ($(lst[i]).attr("src") == href) {
                        let arr = $("#anhSpStr").val().split(",");
                        if (arr.length > 1) arr.splice(i, 1);
                        else {
                            console.log("ss"); arr = [];
                            $("#anhSpStr").val("");
                        }

                        if (arr.length != 0) $("#anhSpStr").val(arr.join(","));
                        $(lst[i]).remove();
                        $("#tempImg").attr("src", "");
                        console.log(i);
                        console.log($("#anhSpStr").val());
                        break;
                    }
                };
            }
        })

        let textArea = $(".text-area");

        $(".size-option").click((event) => {
            let currText = textArea.val();
            let fs = event.target.dataset.size;
            let text = currText + `<p class="fs-${fs}px"></p>`;
            textArea.val(text);
        })
        $(".fstyle-bold").click((event) => {
            let currText = textArea.val();
            let text = currText + `<b></b>`;
            textArea.val(text);
        })
        $(".fstyle-italic").click((event) => {
            let currText = textArea.val();
            let text = currText + `<i></i>`;
            textArea.val(text);
        })
        $(".add-configuration-btn").click((event) => {
            let option = `
                        <li class="configuration-option">
                            <input type="text" class="form-control mt-3" placeholder="Nhập cấu hình máy">
                        </li>
                    `;
            $(".list-configuration").append(option);
        })

    </script>
}