@model List<MobileStore_Project.Models.SanPham>;

@{
    foreach (var item in Model)
    {
        <tr>
            <td><input type="checkbox" class="" /></td>
            <td class="d-none d-md-table-cell">
                <img src="@item.AnhSp.Split(",")[0]"
                     class="h-100"
                     style="width: 40px"
                     alt="" />
            </td>
            <th scope="row">@item.MaSp</th>
            <td>@item.TenSp</td>
            <td>@item.MaNsxNavigation.TenNsx</td>
            <td class="d-none d-md-table-cell">@item.SoLuong</td>
            <td class="d-none d-md-table-cell">
                <input type="datetime" disabled value="22:24 PM 10/21/2023" />
            </td>
            <td>
                <div class="d-flex flex-row justify-content-center">
                    <a class="border-0 me-2 rounded"
                       style="color: black"
                       href="/admin/EditAProduct?id=@item.MaSp">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="border-0 me-2 rounded"
                       style="color: black"
                       href="delete?id=@item.MaSp">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
    }
}
